{% extends 'base.html' %}

{% block header %}
  {% set locale = request.args.get('locale', 'en_GB') %}
  <h1>{% block title %}{{ 'Today in history' if locale == 'en_GB' else 'Efemérides' }}{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('blog.create') }}">{{ 'New' if locale == 'en_GB' else 'Nuevo' }}</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for post in posts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ post['title'] }}</h1>
          <div class="about">by {{ post['username'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == post['author_id'] %}
          <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">{{ 'Edit' if locale == 'en_GB' else 'Editar' }}</a>
        {% endif %}
        <button class="toggle-content" onclick="toggleContent(this)">{{ 'Expand' if locale == 'en_GB' else 'Desplegar' }}</button>
      </header>
      <div style="display:none">
      {% if post['image'] %}
        <img src="{{ url_for('static', filename='uploads/' ~ post['image']) }}" alt="Post Image" style="max-width: 100%; height: auto;">
      {% endif %}
        <div class="body">{{ post['body'] | safe}}</div>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  
  <div class="pagination">
    {% if page > 1 %}
      <a href="{{ url_for('blog.index', page=1) }}">First</a>
      <a href="{{ url_for('blog.index', page=page-1) }}">Previous</a>
    {% endif %}
    <span>Page {{ page }} of {{ total_pages }}</span>
    {% if page < total_pages %}
      <a href="{{ url_for('blog.index', page=page+1) }}">Next</a>
      <a href="{{ url_for('blog.index', page=total_pages) }}">Last</a>
    {% endif %}
  </div>

  <script>
    function toggleContent(button) {
      const body = button.parentElement.nextElementSibling;
      if (body.style.display === "none") {
        body.style.display = "block";
        button.textContent = "{{ 'Collapse' if locale == 'en_GB' else 'Plegar' }}";
      } else {
        body.style.display = "none";
        button.textContent = "{{ 'Expand' if locale == 'en_GB' else 'Desplegar' }}";
      }
    }
  </script>
{% endblock %}
